
$breakpoint-grid-sm: 576px;
$breakpoint-grid-md: 768px;
$breakpoint-grid-lg: 992px;
$breakpoint-grid-xl: 1200px;

$breakpoint-sm: 575px;
$breakpoint-md: 767px;
$breakpoint-lg: 991px;
$breakpoint-xl: 1200px;

$greenColor: #95BB54;
$greenHoverColor: #6D9E18;
$blackColor: #000000;
$whiteColor: #ffffff;
$victoriaColor: #FFF79D;
$newSouthWales: #CEDD79;
$southAustraliaColor: #DFBCCD;
$quenslandColor: #B4AFCD;
$westernAustralia: #E9CA8B;
$tasmaniaColor: #DFBCCD;
$greyColor: #A1A1A1;
$tripAdvisorColor: #00A680;
$facebookColor: #4267B2;
$googleColor: #D02C1F;
$twitterColor: #03A9F4;
$instagramColor: linear-gradient(98.18deg, #FEDA75 0%, #FA7E1E 28.65%, #D62976 53.13%, #962FBF 76.56%, #4F5BD5 100%);
