@import "../abstracts/mixins";
@import "../abstracts/variables";

.header {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: $whiteColor;
  &-menu {
    margin-right: 30px;
    // position: relative;
  }
  &-cart {
    position: relative;
    margin-right: 35px;
    &.active {
      display: none;
    }
    &__counter {
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 100px;
      background: $greenColor;
      color: $whiteColor;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      bottom: -4px;
      right: -10px;
    }
  }
}

// Header Menu!
.hamburger {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  padding-right: 30px;
  & p {
    &:nth-child(2) {
      display: none;
    }
  }
  & span {
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: $blackColor;
    border-radius: 100px;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    &:nth-child(3) {
      width: 24px;
      top: 5px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    &:nth-child(4) {
      width: 17px;
      top: 10px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
    &:nth-child(5) {
      width: 21px;
      top: 15px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
    }
  }
  &.open {
    p:nth-child(1) {
      display: none;
    }
    p:nth-child(2) {
      display: block;
    }
    span:nth-child(3){
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 20px;
      top: 3px;
    }    
    span:nth-child(4) {
      width: 0%;
      opacity: 0;
    }
    span:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 20px;
      top: 17px;
    }
  }
}
.primary-navigation {
  &.active {
    display: none;
  }
}

.primary-menu {
  display: flex;
  & .menu-item {
    &__link {
      padding: 10px 18px;
      font-weight: 600;
      @include fontSize(14, 16);
      line-height: 1.375;
      @include transition(.3);
      &:hover {
        color: $greenColor;
      }
    }
  }
}

.navbar {
  position: fixed;
  left: 150vw;
  top: 80px;
  background: $whiteColor;
  height: calc(100vh - 80px);
  width: 100vw;
  @include transition(.3);
  &.active {
    left: 0;
  }
  & .default-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    & img {
      object-fit: cover;
    }
  }
  & .primary-menu {
    margin-top: 70px;
    & .menu-item {
      margin-bottom: 30px;
      & > img {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        visibility: hidden;
        @include transition(.3);
      }
      & .submenu {
        display: none;
        margin-top: -47px;
        margin-left: 270px;
        // transition-delay: 2s;
        &-item {
          display: inline-block;
        }
      }
      &__link {
        @include fontSize(18, 36);
        line-height: 1.375;
        font-weight: normal;
        @include transition(.3);
        position: relative;
        &:before {
          content: '';
          width: 0;
          height: 2px;
          left: 0;
          top: calc(50% - 1px);
          position: absolute;
          background: $greenColor;
          @include transition(.3);
        }
      }
      &:hover {
        img {
          opacity: 1;
          visibility: visible;
        }
        .menu-item__link {
          padding-left: 60px;
          color: $blackColor;
          font-weight: 700;
          &:before {
            width: 40px;
          }
        }
        & .submenu {
          &-item {
            // display: inline-block;
            &__link {
              display: block;
            }
          }
        }
      }
      &.active {
        & img {
          opacity: 1;
          visibility: visible;
        }
        .menu-item__link {
          padding-left: 60px;
          color: $blackColor;
          font-weight: 700;
          &:before {
            width: 40px;
          }
        }
      }
    }
  }
}

