@import "../abstracts/mixins";
@import "../abstracts/variables";

.header {
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.16);
  padding: 10px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background: $whiteColor;
  // &-menu {
  //   margin-right: 30px;
  // }
  &-cart {
    position: relative;
    margin-right: 35px;
    &.active {
      display: none;
    }
    &__counter {
      position: absolute;
      width: 18px;
      height: 18px;
      border-radius: 100px;
      background: $greenColor;
      color: $whiteColor;
      font-size: 14px;
      line-height: 19px;
      text-align: center;
      bottom: -4px;
      right: -10px;
    }
  }
}

// Header Menu!
.hamburger {
  position: relative;
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  line-height: 23px;
  padding-right: 30px;
  & p {
    &:nth-child(2) {
      display: none;
    }
  }
  & span {
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: $blackColor;
    border-radius: 100px;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    &:nth-child(3) {
      width: 24px;
      top: 5px;
    }
    &:nth-child(4) {
      width: 17px;
      top: 10px;
    }
    &:nth-child(5) {
      width: 21px;
      top: 15px;
    }
  }
  &.open {
    p:nth-child(1) {
      display: none;
    }
    p:nth-child(2) {
      display: block;
    }
    span:nth-child(3){
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 20px;
      top: 10px;
    }    
    span:nth-child(4) {
      width: 0%;
      opacity: 0;
    }
    span:nth-child(5) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      width: 20px;
      top: 10px;
    }
  }
}
.primary-navigation {
  &.active {
    display: none;
  }
  @media (max-width: $breakpoint-lg) {
    display: none;
  }
}

.primary-menu {
  display: flex;
  & .menu-item {
    &__link {
      padding: 10px 18px 10px 0;
      font-weight: 600;
      @include fontSize(14, 16);
      line-height: 1.375;
      @include transition(.3);
      &:hover {
        color: $greenColor;
      }
    }
  }
}

.navbar {
  position: fixed;
  left: 150vw;
  top: 80px;
  background: $whiteColor;
  height: calc(100vh - 80px);
  width: 100vw;
  overflow-y: auto;
  @include transition(.5);
  &.active {
    left: 0;
  }
  & .default-image {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
    & img {
      object-fit: cover;
    }
    @media (max-width: $breakpoint-lg) {
      // width: 40%;
      display: none;
    }
  }
  & .primary-menu {
    margin-top: 70px;
    @media (max-width: $breakpoint-lg) {
      margin-top: 45px;
    }
    & .menu-item {
      margin-bottom: 30px;
      @media (max-width: $breakpoint-lg) {
        margin-bottom: 18px;
      }
      & > img {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        visibility: hidden;
        @include transition(.3);
        @media (max-width: $breakpoint-lg) {
          display: none;
        }
      }
      & .submenu {
        display: none;
        margin-top: -47px;
        margin-left: 270px;
        &.menuOpen {
          padding-top: 28px;
          margin-left: 0;
          width: 100%;
          height: 100%;
          position: fixed;
          overflow: scroll;
          z-index: 109;
          padding: 28px 15px 15px 15px;
          top: 150px;
          left: 0;
          background: $whiteColor;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
        &-item {
          display: inline-block;
          @media (max-width: $breakpoint-lg) {
            margin-bottom: 30px;
          }
        }
      }
      &__link {
        @include fontSize(18, 36);
        line-height: 1.375;
        font-weight: normal;
        @include transition(.3);
        position: relative;
        @media (max-width: $breakpoint-lg) {
          font-size: 18px;
          line-height: 25px;
        }
        &:before {
          content: '';
          width: 0;
          height: 2px;
          left: 0;
          top: calc(50% - 1px);
          position: absolute;
          background: $greenColor;
          @include transition(.3);
        }
      }
      &:hover {
        img {
          opacity: 1;
          visibility: visible;
        }
        .menu-item__link {
          padding-left: 60px;
          color: $blackColor;
          font-weight: 700;
          &:before {
            width: 40px;
          }
          @media (max-width: $breakpoint-lg) {
            padding-left: 40px;
            &:before {
              width: 28px;
            }
          }
        }
        & .submenu {
          &-item {
            &__link {
              display: block;
            }
          }
        }
      }
      &.active {
        & img {
          opacity: 1;
          visibility: visible;
        }
        .menu-item__link {
          padding-left: 60px;
          color: $blackColor;
          font-weight: 700;
          &:before {
            width: 40px;
          }
        }
      }
    }
  }
  &-bottom {
    position: absolute;
    bottom: 60px;
    @media (max-width: $breakpoint-lg) {
      position: static;
      display: flex;
      flex-direction: column-reverse;
    }
  }
  &-contacts, &-footer {
    &__item {
      display: flex;
      align-items: center;
      @media (max-width: $breakpoint-lg) {
        margin-bottom: 18px;
      }
      a {
        font-size: 16px;
        line-height: 26px;
        padding-left: 5px;
        @include transition(.3);
        @media (max-width: $breakpoint-lg) {
          font-size: 18px;
          line-height: 25px;
        }
        &:hover {
          color: $greenColor;
        }
      }
    }
  }
  &-contacts {
    
  }
  &-footer {
    padding-top: 40px;
    @media (max-width: $breakpoint-lg) {
      padding-top: 0;
      flex-direction: column;
    }
    &__item {
      a {
        padding: 0;
        margin-right: 28px;
      }
    }
  }
}


.nav-btn {
  right: -30px;
  position: absolute;
  top: calc(50% - 10px);
  background: transparent;
  border: none;
  outline: none;
  @media (min-width: $breakpoint-lg) {
    display: none;
  }
  & i:before {
    display: block;
    transform: rotate(-90deg);
    font-size: 20px;
  }
}

.nav-title {
  font-size: 20px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  & i {
    padding-right: 20px;
    &:before {
      transform: rotate(90deg);
      display: block;
      width: 30px;
      height: 30;
      font-size: 30px;
    }
  }
}
