@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7dzi0s');
  src:  url('fonts/icomoon.eot?7dzi0s#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7dzi0s') format('truetype'),
    url('fonts/icomoon.woff?7dzi0s') format('woff'),
    url('fonts/icomoon.svg?7dzi0s#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-checked:before {
  content: "\e90c";
  color: #95bb54;
}
.icon-icon-uncheked:before {
  content: "\e90d";
  color: #e1e1e1;
}
.icon-icon-instagram:before {
  content: "\e908";
}
.icon-checkbox-checked:before {
  content: "\e90e";
}
.icon-checkbox-mobile:before {
  content: "\e917";
}
.icon-icon-twitter:before {
  content: "\e907";
  color: #03a9f4;
}
.icon-fri:before {
  content: "\e918";
}
.icon-mon:before {
  content: "\e91f";
}
.icon-sat:before {
  content: "\e920";
}
.icon-sun:before {
  content: "\e921";
}
.icon-thu:before {
  content: "\e922";
}
.icon-tue:before {
  content: "\e923";
}
.icon-wed:before {
  content: "\e924";
}
.icon-newzealand:before {
  content: "\e90b";
  color: #fff;
}
.icon-question-1:before {
  content: "\e91e";
  color: #fff;
}
.icon-icon-filter:before {
  content: "\e90f";
  color: #fff;
}
.icon-icon-envelope:before {
  content: "\e91d";
  color: #95bb54;
}
.icon-cart:before {
  content: "\e91c";
}
.icon-arrow-circle .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.icon-arrow-circle .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-icon-arrow:before {
  content: "\e902";
}
.icon-icon-bus:before {
  content: "\e903";
  color: #95bb54;
}
.icon-icon-chat:before {
  content: "\e904";
  color: #95bb54;
}
.icon-icon-close-1:before {
  content: "\e905";
  color: #95bb54;
}
.icon-icon-close:before {
  content: "\e906";
}
.icon-icon-facebook:before {
  content: "\e909";
  color: #4267b2;
}
.icon-icon-google:before {
  content: "\e90a";
  color: #d02c1f;
}
.icon-icon-new-south-wales:before {
  content: "\e910";
  color: #cedd79;
}
.icon-icon-phone:before {
  content: "\e911";
  color: #95bb54;
}
.icon-icon-placeholder:before {
  content: "\e912";
  color: #95bb54;
}
.icon-icon-quensland:before {
  content: "\e913";
  color: #b4afcd;
}
.icon-icon-south-australia:before {
  content: "\e914";
  color: #dfbccd;
}
.icon-icon-tasmania:before {
  content: "\e915";
  color: #dfbccd;
}
.icon-icon-tripadvisor:before {
  content: "\e916";
  color: #00a680;
}
.icon-icon-victoria-1:before {
  content: "\e919";
  color: #fff79d;
}
.icon-icon-victoria:before {
  content: "\e91a";
  color: #fff79d;
}
.icon-icon-western-australia:before {
  content: "\e91b";
  color: #e9ca8b;
}
