@import "../abstracts/mixins";
@import "../abstracts/variables";

@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  color: $whiteColor;
  padding: 8px 52px;
  font-weight: 700;
  display: inline-block;
  @include fontSize(16, 18);
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  @include transition(0.3);
  outline: none;
  
  &-rounded {
    background: $greenColor;
    border-radius: 100px;
    &:hover {
      background: $greenHoverColor;
    }
  }
  &-book {
    // background: #95BB54;
    // border-radius: 100px;
    // @include transition(.3);
    // &:hover {
    //   background: #6D9E18;
    // }
  }

  &-book {
    line-height: 1;
    color: #fff;
    background: #95BB54;
    padding: 18px 58px;
    cursor: pointer;
    border: none;
    border-radius: 100px;
    overflow: hidden;
    position: relative;
    @include fontSize(16, 18);
    font-weight: 700;
    z-index: 10;
    & img {
      position: absolute;
    }
    &:before, &:after {
      padding: 30px 52px;
      content: '';
      position: absolute;
      top: 0;
      left: calc(-100% - 30px);
      height: calc(100% - 29px);
      width: calc(100% + 20px);
      color: #fff;
      border-radius: 2px;
      transform: skew(-25deg);
    }
    &:after {
      background: #fff;
      transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
      z-index: -2;
      opacity: 0.8;
    }
    &:before {
      background: #6D9E18;
      z-index: -1;
      transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
    }
    &:hover {
      &:after {
        left: calc(0% - 10px);
        transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
      }
      &:before {
        left: calc(0% - 10px);
        transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
      }
    }
    &.--modified {
      padding: 0;
      &:before, &:after {
        padding: 30px 34px;
      }
      &:before {
        background: #CB6B4C;
      }
    }
  }
  &-squared {
    background: $greenColor;
    border-radius: 5px;
    &:hover {
      background: $greenHoverColor;
    }
  }
  &-gradient {
    background: linear-gradient(125.89deg, #95BB54 0%, #AEE057 100%);
    border-radius: 100px;
  }
}

// .tooltip {
//   visibility: hidden;
//   width: auto;
//   background-color: #333;
//   color: #fff;
//   text-align: center;
//   border-radius: 6px;
//   padding: 5px 10px;
//   position: absolute;
//   opacity: 0;
//   z-index: 1;
//   left: -50px;
//   bottom: 30px;
//   padding: 5px 10px;
//   @include transition(.3);
// }

.floating-menu {
  position: fixed;
  right: 60px;
  bottom: 36px;
  z-index: 99;
  @media (max-width: $breakpoint-lg) {
    right: 15px;
  }
  .wrapper {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    background: $greenColor;
    align-items: center;
    &:first-child {
      margin-bottom: 22px;
    }
    .fab {
      background: #CB6B4C;
      width: 50px;
      height: 50px;
      position: relative;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      animation: fab-animation-reverse 0.4s ease-out forwards;
      &:before {
        background: $greenColor;
      }
      & i:before {
        color: $whiteColor;
      }
    }
    .fac {
      width: 260px;
      height: 68px;
      border-radius: 64px;
      position: absolute;
      background: #fff;
      z-index: 2;
      padding: 0.5rem 0.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      opacity: 0;
      visibility: hidden;
      right: -6px;
      padding-right: 60px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: opacity 0.2s ease-in, top 0.2s ease-in, width 0.1s ease-in;
      a {
        opacity: 1;
        @include transition(.3);
        &:hover {
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }
  }
}

.wrapper-more {
  &.active {
    & .fac {
      width: 260px;
      height: 68px;
      right: -6px;
      padding-right: 60px;
      animation: fac-animation 0.4s ease-out forwards 0.1s;
      opacity: 1;
      visibility: visible;
    }
    & .--modified {
      &:after {
        left: calc(0% - 10px);
        transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
      }
      &:before {
        background: $greenColor;
        left: calc(0% - 10px);
        transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
      }
    }
  }
  &:hover {
    & .tooltip {
      opacity: 1;
      visibility: visible;
    }
  }
}

.floating-menu {
  .wrapper-chat {
    & .fab {
      background: #547DBB;
      &:before {
        background: $greenColor;
      }
    }
    &:hover {
      & .tooltip {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

// button {
//   font-size: 15px;
//   line-height: 1;
//   color: #fff;
//   background: #95BB54;
//   padding: 18px 58px;
//   cursor: pointer;
//   border: none;
//   border-radius: 100px;
//   overflow: hidden;
//   position: relative;
// }

// button span {
//   display: block;
//   position: relative;
//   @include fontSize(16, 18);
//   font-weight: 700;
//   z-index: 10;
// }

// button:after,
// button:before {
//   padding: 30px 52px;
//   content: '';
//   position: absolute;
//   top: 0;
//   left: calc(-100% - 30px);
//   height: calc(100% - 29px);
//   width: calc(100% + 20px);
//   color: #fff;
//   border-radius: 2px;
//   transform: skew(-25deg);
// }

// button:after {
//   background: #fff;
//   transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1) 0.2s;
//   z-index: 0;
//   opacity: 0.8;
// }

// button:before {
//   background: #6D9E18;
//   z-index: 5;
//   transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
// }

// button:hover:after {
//   left: calc(0% - 10px);
//   transition: left 0.8s cubic-bezier(0.86, 0, 0.07, 1);
// }

// button:hover:before {
//   left: calc(0% - 10px);
//   transition: left 1s cubic-bezier(0.86, 0, 0.07, 1);
// }