@import "../abstracts/mixins";
@import "../abstracts/variables";

@import "../abstracts/mixins";
@import "../abstracts/variables";

.btn {
  background: transparent;
  border: 1px solid transparent;
  border-radius: 3px;
  color: $whiteColor;
  padding: 8px 52px;
  font-weight: 700;
  display: inline-block;
  @include fontSize(16, 18);
  line-height: 36px;
  text-align: center;
  cursor: pointer;
  @include transition(0.3);
  &-rounded {
    background: $greenColor;
    border-radius: 100px;
    &:hover {
      background: $greenHoverColor;
    }
  }
  &-book {
    background: #95BB54;
    border-radius: 100px;
    @include transition(.3);
    &:hover {
      background: #6D9E18;
    }
  }
  &-squared {
    background: $greenColor;
    border-radius: 5px;
    &:hover {
      background: $greenHoverColor;
    }
  }
}

:root {
  --background: #4285f4;
  --icon-color: #344955;
}

.floating-menu {
  position: fixed;
  right: 60px;
  bottom: 36px;
  z-index: 99;
  @media (max-width: $breakpoint-lg) {
    right: 15px;
  }
  .wrapper {
    width: 50px;
    height: 50px;
    position: relative;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    background: $greenColor;
    align-items: center;
    &:first-child {
      margin-bottom: 22px;
      .fab {
        &:before {
          content: "\e904";
        }
      }
    }
    .fab {
      background: $greenColor;
      width: 50px;
      height: 50px;
      position: relative;
      z-index: 3;
      border-radius: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      animation: fab-animation-reverse 0.4s ease-out forwards;
      &::before {
        font-family: 'icomoon';
        content: "\e91e";
        color: $whiteColor;
        font-size: 26px;
      }
    }
    .fac {
      width: 260px;
      height: 68px;
      border-radius: 64px;
      position: absolute;
      background: #fff;
      z-index: 2;
      padding: 0.5rem 0.5rem;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
      opacity: 0;
      right: -6px;
      padding-right: 60px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      transition: opacity 0.2s ease-in, top 0.2s ease-in, width 0.1s ease-in;
      a {
        opacity: 1;
        @include transition(.3);
        &:hover {
          opacity: 1;
          transform: scale(1.1);
        }
      }
    }
    input {
      height: 100%;
      width: 100%;
      border-radius: 100px;
      cursor: pointer;
      position: absolute;
      z-index: 99;
      opacity: 0;
      &:checked {
        ~ .fab {
          animation: fab-animation 0.4s ease-out forwards;
          &::before {
            content: "\e905";
            font-size: 34px;
          }
        }
        ~ .fac {
          width: 260px;
          height: 68px;
          right: -6px;
          padding-right: 60px;
          animation: fac-animation 0.4s ease-out forwards 0.1s;
          opacity: 1;
        }
      }
    }
  }
}



// @keyframes fab-animation {
//   0% {
//     transform: scale(1);
//   }
//   20% {
//     transform: scale(0.93);
//   }
//   55% {
//     transform: scale(0.97);
//   }
//   80% {
//     transform: scale(0.94);
//   }
//   100% {
//     transform: scale(0.95);
//   }
// }

// @keyframes fab-animation-reverse {
//   0% {
//     transform: scale(0.95);
//   }
//   100% {
//     transform: scale(1);
//   }
// }

// @keyframes fac-animation {
//   0% {
//     transform: scale(1, 1);
//   }
//   33% {
//     transform: scale(0.95, 1.05);
//   }
//   66% {
//     transform: scale(1.05, 0.95);
//   }
//   100% {
//     transform: scale(1, 1);
//   }
// }
