@import "../abstracts/mixins";
@import "../abstracts/variables";

.first-screen {
  margin: 48px 0 24px 0;
  position: relative;
  height: 417px;
  @media (max-width: $breakpoint-md) {
    height: 234px;
    & > .container {  
      padding: 0;
    }
  }

  &__background {
    position: absolute;
    z-index: -1;
    height: 417px;
    @media (max-width: $breakpoint-md) {
      height: 234px;
    }
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 10px;
      @media (max-width: $breakpoint-md) {
        border-radius: 0;
      }
    }
    & img {
      border-radius: 10px;
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      @media (max-width: $breakpoint-md) {
        border-radius: 0;
      }
    }
  }
  &__content {
    color: $whiteColor;
    padding: 0 15px;
  }
  &__title {
    color: $whiteColor;
    margin-bottom: 10px;
  }
}

.badge {
  color: $whiteColor;
  display: block;
  padding: 0 12px;
  border-radius: 100px;
  margin: 0 4px;
  &-sale {
    background: #C9554E;;
  }
  &-special {
    background: $greenColor;
  }
  &-package {
    background: #DFDFDF;
  }
}

.fp-nav {

}

.first-screen--product {
  @media (max-width: $breakpoint-md) {
    height: 280px;
    & .first-screen__background--product {
      height: 280px;
    }
  }
}


.page__heading {
  margin: 36px 0 24px 0;
  @media (max-width: $breakpoint-md) {
    margin: 24px 0;
  }
}

.info-item {
  display: flex;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 4px;
  & span {
    color: #A2A2A2;
  }
  & p {
    padding-left: 4px;
  }
  & img {
    width: 80px;
    padding-left: 4px;
  }
  & i {
    font-size: 24px;
    padding: 0 4px;
  }
}