@import "../abstracts/mixins";
@import "../abstracts/variables";

.default-icon {
  width: 100%;

  & img {
    height: 100%;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
}

.--relative {
  position: relative;
}

.--static {
  position: static;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
}

img {
  display: block;
  max-width: 100%;
}

.overlap {
  position: relative;
  z-index: 2;
}


.full-height, body, html {
  height: 100%;
}

.full-screen {
  height: calc(100vh - 80px);
}

.body-padding {
  height: 80px;
}

.preventScrolling {
  overflow: hidden;
}

.app {
  &__description {
    font-size: 16px;
    font-weight: 400;
    // color: $defaultTextColor;
    line-height: 1.85;
  }

  &-screen {
    &__title {
      @include fontSize(28, 48);
      line-height: 1.375;
      margin: 0 0 16px 0;
      font-weight: bold;
      @media (max-width: $breakpoint-md) {
        margin: 0 0 12px 0;
      }
    }
    &__description {
      font-size: 16px;
      line-height: 1.64;
    }
  }
}


.carousel {
  opacity: 0;
  &.loadSlider {
    opacity: 1;
  }
}