@import "../abstracts/mixins";
@import "../abstracts/variables";

.page-nav--agents {
  margin-top: 8px;
  flex-wrap: wrap;
}

.map-wrapper {
  margin-top: 8px;
  & .tabs-wrap {
    padding: 0;
  }
}

.agents {
  &__description {
    margin-bottom: 16px;
  }
  & .tabs {
    @media (max-width: $breakpoint-lg) {
      & .page-nav {
        flex-direction: column;
        align-items: flex-start;
        &__item {
          width: auto;
          flex-grow: unset;
          margin-bottom: 4px;
        }
      }
    }
  }
  &-list {
    @media (max-width: $breakpoint-lg) {
      margin-bottom: 70px;
    }
  }
  &__item {
    margin-bottom: 16px;
    &--inner {
      margin-bottom: 4px;
      & i {
        padding-right: 12px;
      }
    }
    & .tab-links {
      margin-top: 12px;
      border: 2px solid $greenColor;
      padding: 12px 16px;
      border-radius: 4px;
      padding: 2px 26px;
      &:before {
        display: none;
      }
      &.active {
        border: 2px solid $whiteColor;
        background: $greenColor;
        color: $whiteColor;
      }
      &:hover {
        color: $whiteColor;
        background: $greenColor;
      }
    }
  }
}

