@import "../abstracts/mixins";
@import "../abstracts/variables";

.first-screen--faq {
  margin-bottom: 0;
  @media (max-width: $breakpoint-lg) {
    margin: 0;
  }
}

.faq {
  margin-bottom: 56px;
  @media (max-width: $breakpoint-lg) {
    margin-bottom: 24px;
  }
  & .tabs-wrap {
    padding: 0;
  }
  & .tabs-list {
    margin-top: 6px;
    @media (max-width: $breakpoint-lg) {
      align-items: flex-start;
      border: 1px solid #DADADA;
      padding: 24px 15px;
      margin-bottom: 24px;
    }
  }
}

.accordion-container {
  background-image: url('../img/faq-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center right 20%;
}

.set{
  position: relative;
  width: 100%;
  height: auto;
  background-color: transparent;
  border: 6px solid #fff;
  &.active {
    &:after {
      pointer-events: none;;
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border: 1px solid #DCDCDC;
      border-radius: 5px;
      @include transition(.4);
      transition-delay: .2s;
    }
    a {
      color: #333;
      background: $whiteColor;
    }
    i {
      &:before {
        transform: rotate(135deg);
      }
      &:after {
        transform: rotate(230deg);
      }
    }
  }
  .content{
    background-color: $whiteColor;
    display:none;
    padding: 16px 24px;
  }
  .content p{
    // padding: 10px 15px;
    margin: 0;
    color: #333;
  }
}
.set > a{
  display: block;
  padding: 16px 24px;
  text-decoration: none;
  color: $whiteColor;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  -webkit-transition:all 0.2s linear;
  -moz-transition:all 0.2s linear;
  transition:all 0.2s linear;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 3px solid #fff;
  margin: -3px;
  @media (max-width: $breakpoint-lg) {
    padding: 10px 54px 10px 14px;
  }
}
.set > a i{
  width: 30px;
  height: 30px;
  background: $greenColor;
  border-radius: 100px;
  position: relative;
  display: block;
  @media (max-width: $breakpoint-lg) {
    position: absolute;
    right: 15px;
  }
  &:before, &:after {
    content: '';
    width: 18px;
    height: 2px;
    position: absolute;
    left: calc(50% - 9px);
    top: calc(50% - 1px);
    background: #fff;
    transform: rotate(90deg);
    @include transition(.3);
  }
  &:after {
    transform: rotate(180deg);
  }
}
