@import "../abstracts/mixins";
@import "../abstracts/variables";


section.section {
  // padding-top: 80px;
  // margin-top: 40px;
  // top: 80px;
  // @media (max-width: $breakpoint-lg)
}

.main-screen {
  // padding-top: 80px;
  // height: 200vh;
  // margin-top: 80px;
  // height: calc(100vh - 80px);
  @media (max-width: $breakpoint-lg) {
    // height: calc(100vh - 80px);
  }
  &__title {
    color: $whiteColor;
    & h1 {
      margin-bottom: 30px;
    }
  }
  &__rewards {
    position: absolute;
    bottom: 35px;
    right: 120px;
    @media (max-width: $breakpoint-lg) {
      position: static;
    }
    &--container {
      justify-content: flex-end;
      @media (max-width: $breakpoint-lg) {
        justify-content: center;
      }
    }
    & .rewards__item {
      width: 64px;
      height: 64px;
      margin-right: 12px;
    }
  }
  &__image {
    position: absolute;
    left: 0;
    width: 100vw;
    top: 80px;
    height: calc(100vh - 80px);
    z-index: -1;
    @media (max-width: $breakpoint-lg) {
      top: 80px;
    }
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
    }
    & img {
      object-fit: cover;
    }
  }
}

.app-section-2 {
  .home-images {
    position: absolute;
    right: 0;
    top: 0;
    & .image-item {
      position: absolute;
      & img {
        object-fit: cover;
      }
      &:nth-child(1) {
        width: 15vw;
        right: 20vw;
        top: 3vh;
      }
      &:nth-child(2) {
        top: 9vh;
        right: 0;
        width: 20vw;
      }
      &:nth-child(3) {
        width: 19vw;
        right: 20vw;
        top: 42vh;
      }
      &:nth-child(4) {
        width: 20vw;
        top: 49vh;
        right: 0;
      }
    }
  }
}

.app-section-3 {
  & .home-images {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    & .image-item {
      position: relative;
      width: 13vw;
      cursor: pointer;
      // &:before {
      //   content: '';
      //   background: rgba(0, 0, 0, 0.4);
      //   opacity: 0;
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   width: 100%;
      //   height: 100%;
      //   @include transition(.3);
      // }
      &:hover {
        & img {
          filter: saturate(100%);
          filter: grayscale(50%);
        }
        &:before {
          opacity: 1;
        }
      }
      &__text {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 9;
        top: 0;
        font-size: 27px;
        line-height: 34px;
        color: $whiteColor;
        font-weight: 800;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
      }
      & img {
        object-fit: cover;
        filter: saturate(0%);
        @include transition(.3);
      }
      &:nth-child(even) {
        top: 10vh;
      }
    }
  }
}



// .app-section-2 {
//   background: #eee;
// }

// .app-section-3 {
//   background: #333;
// }