@import "../abstracts/mixins";
@import "../abstracts/variables";


section.section {
  // padding-top: 80px;
  // margin-top: 40px;
  // top: 80px;
  // @media (max-width: $breakpoint-lg)
}

.main-screen {
  // padding-top: 80px;
  // height: 200vh;
  // margin-top: 80px;
  // height: calc(100vh - 80px);
  @media (max-width: $breakpoint-lg) {
    // height: calc(100vh - 80px);
  }
  &__title {
    color: $whiteColor;
    & h1 {
      margin-bottom: 30px;
    }
  }
  &__rewards {
    position: absolute;
    bottom: 35px;
    right: 120px;
    @media (max-width: $breakpoint-lg) {
      position: static;
    }
    &--container {
      justify-content: flex-end;
      @media (max-width: $breakpoint-lg) {
        justify-content: center;
      }
    }
    & .rewards__item {
      width: 64px;
      height: 64px;
      margin-right: 12px;
    }
  }
  &__image {
    position: absolute;
    left: 0;
    width: 100vw;
    top: 80px;
    height: calc(100vh - 80px);
    z-index: -1;
    @media (max-width: $breakpoint-lg) {
      top: 80px;
    }
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
    }
    & img {
      object-fit: cover;
    }
  }
}

.app-section-2 {
  .home-images {
    position: absolute;
    right: 0;
    top: 0;
    & .image-item {
      position: absolute;
      & img {
        object-fit: cover;
      }
      &:nth-child(1) {
        width: 15vw;
        right: 20vw;
        top: 3vh;
      }
      &:nth-child(2) {
        top: 9vh;
        right: 0;
        width: 20vw;
      }
      &:nth-child(3) {
        width: 19vw;
        right: 20vw;
        top: 42vh;
      }
      &:nth-child(4) {
        width: 20vw;
        top: 49vh;
        right: 0;
      }
    }
  }
}

.tabcontent {
  display: none;
  &:first-child {
    display: block;
  }
}

.app-section-3 {
  & .home-images {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    & .image-item {
      position: relative;
      width: 13vw;
      cursor: pointer;
      filter: saturate(0%);
      @include transition(.3);
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(0, 0, 0, 0.4);
        opacity: 0;
        width: 100%;
        height: 100%;
        @include transition(.3);
      }
      &.active {
        filter: unset;
        &:before {
          opacity: 1;
        }
      }
      &__text {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 9;
        top: 0;
        font-size: 27px;
        line-height: 34px;
        color: $whiteColor;
        font-weight: 800;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
        text-align: center;
      }
      & img {
        object-fit: cover;
        // filter: saturate(0%);
        // @include transition(.3);
      }
      &:nth-child(even) {
        top: 10vh;
      }
    }
  }
}

.container-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app-section-4 {
  & .home-images {
    display: flex;
    justify-content: space-between;
    & .image-item {
      width: 28vw;
      height: 51vh;
      position: relative;
      filter: saturate(0%);
      @include transition(.3);
      overflow: hidden;
      &:nth-child(1) {
        border-radius: 0px 10px 0px 0px;
      }
      &:nth-child(2) {
        border-radius: 10px 10px 0px 0px;
      }
      &:nth-child(3) {
        border-radius: 10px 0px 0px 0px;
      }
      & img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        opacity: 0;
        @include transition(.3);
      }
      &:hover {
        filter: unset;
        &:before {
          opacity: 1;
        }
      }
    }
    & .image-text {
      font-weight: bold;
      @include fontSize(28, 48);
      line-height: 1.375;
      color: $whiteColor;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.app-section-5 {
  & .image-item {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40vw;
    & img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  & .col-md-6 {
    padding-left: 40px;
  }
}