@import "../abstracts/mixins";
@import "../abstracts/variables";

.main-screen {
  // height: 200vh;
  height: calc(100vh - 80px);
  &__title {
    color: $whiteColor;
    & h1 {
      margin-bottom: 30px;
    }
  }
  &__rewards {
    position: absolute;
    bottom: 40px;
    @media (max-width: $breakpoint-lg) {
      position: static;
    }
    &--container {
      justify-content: flex-end;
      @media (max-width: $breakpoint-lg) {
        justify-content: center;
      }
    }
    & .rewards__item {
      width: 64px;
      height: 64px;
      margin-right: 12px;
    }
  }
  &__image {
    position: absolute;
    left: 0;
    width: 100vw;
    top: 80px;
    height: calc(100vh - 80px);
    z-index: -1;
    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.3);
    }
    & img {
      object-fit: cover;
    }
  }
}