@import "../abstracts/mixins";
@import "../abstracts/variables";

.single-product {
  margin-bottom: 64px;
}

.swiper-container {
  margin: 0;
  height: 600px;
  @media (max-width: $breakpoint-md) {
    height: 300px;
  }
}
.swiper-slide {
  background-size: cover;
  background-position: center;
}
.gallery-top {
  width: 80%;
  margin-left: 30px;
  background: #F0F0F0;
  @media (max-width: 1100px) {
    width: 75%;
  }
  @media (max-width: $breakpoint-md) {
    width: 100%;
    margin: 0;
    background: $whiteColor;
  }
  & .swiper-pagination {
    display: none;
    background: #A1A1A1;
    border-radius: 100px;
    color: #fff;
    padding: 0 12px;
    position: absolute;
    width: auto;
    left: 0;
    bottom: 0;
    @media (max-width: $breakpoint-md) {
      display: inline;
    }
  }
  & .swiper-button-prev, .swiper-button-next {
    @media (max-width: $breakpoint-md) {
      display: none;
    }
  }
}
.gallery-thumbs {
  width: 15%;
  height: 600px;
  @media (max-width: $breakpoint-md) {
    display: none;
  }
}
.gallery-thumbs .swiper-slide {
  width: 100%;
  height: 110px;
  opacity: 0.5;
  padding: 15px 0;
  background: #F0F0F0;
  & img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
  }
}
.gallery-thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.product {
  &-tip {
    text-align: right;
    width: 100%;
    font-size: 12px;
    color: #777;
    padding: 3px 8px 0 0;
    @media (max-width: 1100px) {
      padding: 3px 32px 0 0;
    }
    @media (max-width: $breakpoint-md) {
      padding: 5px 0 0 0;
      text-align: left;
    }
  }
  &__title {
    @include fontSize(24, 42);
    line-height: 1.2;
    font-weight: 600;
    max-width: 70%;
    margin-bottom: 12px;
    @media (max-width: $breakpoint-md) {
      padding-top: 20px;
    }
  }
  &__description {
    margin-bottom: 12px;
  }
  &__price {
    font-weight: bold;
    font-size: 42px;
    line-height: 55px;
    margin-bottom: 16px;
  }
  &__color {
    margin-bottom: 20px;
    &--heading {
      color: #333333;
      margin-bottom: 8px;
      display: block;
    }
    & .color-item {
      margin: 0 18px 10px 0;
      &__input {
        display: none;
        &:checked ~ div:before {
          content: '';
          border-width: 4px;
          border-color: #fff;
        }
      }
      &__label {
        width: 48px;
        height: 48px;
        display: block;
        border-radius: 100px;
        overflow: hidden;
        & div {
          height: 100%;
          width: 100%;
          position: relative;
          cursor: pointer;
          &:before {
            content: '';
            border: 1px solid transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: calc(100% - 4px);
            height: calc(100% - 4px);
            border-radius: 100px;
            @include transition(.3);
          }
        }
      }
    }
  }
  &__size {
    margin-bottom: 26px;
    & .size-list {
      @media (max-width: 400px) {
        max-width: 80%;
      }
    }
    & .size-item {
      margin: 0 15px 12px 0;
      @media (max-width: $breakpoint-md) {
        // width: 22%;
      }
      &__input {
        display: none;
        &:checked ~ div {
          content: '';
          background: $greenColor;
          color: $whiteColor;
        }
      }
      &__label {
        & div {
          cursor: pointer;
          @include transition(.3);
          background: transparent;
          width: 68px;
          height: 28px;
          color: #333333;
          border: 1px solid $greenColor;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
  &__submit {
    input {
      font-size: 24px;
      line-height: 33px;
      width: auto;
      font-weight: 600;
      padding: 8px 56px;
      border-radius: 100px;
    }
  }
}

.product-recommendations {
  width: 100%;
  height: 100%;
  &__heading {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  .swiper-button-prev, .swiper-button-next {
    width: 36px;
    height: 36px;
    border-radius: 100px;
    background: $greenColor;
    position: static;
    margin: 0;
    &:after {
      font-size: 16px;
      color: $whiteColor;
    }
  }
  & .swiper-button-prev {
    margin-right: 20px;
  }
  & .swiper-button-next {
    margin-left: 20px;
  }
}

