@import "../abstracts/mixins";
@import "../abstracts/variables";

.filter {
  margin: 16px 0 36px 0;
  @media (max-width: $breakpoint-xl) {
    display: none;
  }
  &-wrapper {
    padding: 0 15px;
    & > form {
      width: 100%;
    }
  }
  &-heading {
    margin-bottom: 16px;
  }
  &-container {
    display: flex;
    align-items: center;
  }
  &__item {
    margin: 0 4px;
    padding: 11px 16px;
    border: 1px solid $greenColor;
    border-radius: 5px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    z-index: 19;
    @media (max-width: 1300px) {
      padding: 11px;
    }
    & .form-checkbox, & .form-radio {
      border-bottom: 1px solid $greenColor;
      &:last-child {
        border: none;
      }
    }
    & i {
      &:before {
        display: block;
        @include transition(.3);
      }
      &.show {
        &:before {
          transform: rotate(-180deg);
        }
      }
    }
  }
  &__list {
    position: absolute;
    display: block;
    top: 54px;
    left: 0;
    width: 100%;
    border: 1px solid #95BB54;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    @include transition(.3);
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
  & input[type=submit] {
    padding: 11px 16px;
    margin-left: 4px;
    width: 100%;
    background: $greenColor;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    border: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: $whiteColor;
    @include transition(.3);
    &:hover {
      background: $greenHoverColor;
    }
  }
}

.tour {
  & .card {
    &__item {
      margin-bottom: 30px;
    }
    &__image {
      height: 242px;
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 12px;
      & img {
        object-fit: cover;
      }
    }
    &__title {
      font-weight: 600;
      @include fontSize(24, 28);
      line-height: 1.35;
      margin-bottom: 12px;
    }
    &__info {
      &--item {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 4px;
        & span {
          color: #A2A2A2;
        }
        & p {
          padding-left: 4px;
        }
        & img {
          width: 80px;
          padding-left: 4px;
        }
      }
    }
    &__book {
      margin-top: 4px;
    }
    &__price {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 16px;
      &--amount {
        margin-right: 12px;
      }
    }
    &__btn {
      width: 100%;
      & .btn {
        width: 100%;
      }
    }
  }
  & .show-more-btn {
    margin-top: 6px;
    & .btn {
      padding: 11px 66px;
      font-weight: 800;
      font-size: 16px;
      line-height: 22px;
    }
  }
}

