@import "../abstracts/mixins";
@import "../abstracts/variables";

// Tours Public

.filter {
  margin: 16px 0 36px 0;
  &.open {
    left: 0;
  }
  @media (max-width: $breakpoint-xl) {
    display: flex;
    flex-direction: column;
    top: 80px;
    width: 35%;
    left: -120%;
    background: #fff;
    position: fixed;
    z-index: 99;
    overflow-y: auto;
    height: 100%;
    padding: 8px 0;
    margin: 0;
    box-shadow: 4px 0px 8px rgba(203, 203, 203, 0.25);
    @include transition(.3);
    & > .container {
      max-width: unset;
      margin: 0;
      padding: 0;
    }
  }
  @media (max-width: $breakpoint-md) {
    width: 100%;
  }
  &-wrapper {
    padding: 0 15px;
    @media (max-width: $breakpoint-xl) {
      padding: 0;
    }
    & > form {
      width: 100%;
    }
  }
  &-heading {
    margin-bottom: 16px;
    @media (max-width: $breakpoint-xl) {
      display: none;
    }
  }
  &-container {
    display: flex;
    align-items: center;
    @media (max-width: $breakpoint-xl) {
      flex-direction: column;
      padding-bottom: 100px;
    }
  }
  &__item {
    margin: 0 4px;
    padding: 11px 16px;
    border: 1px solid $greenColor;
    border-radius: 5px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    z-index: 19;
    @media (max-width: 1300px) {
      padding: 11px;
    }
    @media (max-width: $breakpoint-xl) {
      border: none;
      padding: 0 15px;
      align-items: flex-start;
      flex-direction: column;
      border-bottom: 1px solid #C4C4C4;
      margin: 0;
      border-radius: 0;
    }
    &:last-of-type {
      @media (max-width: $breakpoint-xl) {
        border: none;
      }
    }
    & .form-checkbox, & .form-radio {
      border-bottom: 1px solid $greenColor;
      @media (max-width: $breakpoint-xl) {
        margin-bottom: 12px;
        border: none;
        & label {
          &:before {
            position: static;
            margin-right: 12px;
          }
        }
      }
      &:last-child {
        border: none;
      }
    }
    & .form-checkbox {
      @media (max-width: $breakpoint-xl) {
        & label {
          &:before {
            content: "\e917";
          }
        }
        & input {
          &:checked ~ label {
            &:before {
              content: "\e90e"; 
              color: #333;
            }
          }
        }
      }
    }
    & .form-radio {
      @media (max-width: $breakpoint-xl) {
        & label {
          &:before {
            border: 3px solid #333333;
          }
        }
        & input {
          &:checked ~ label {
            &:before {
              border: 3px solid #333333;
              color: #333
            }
            &:after {
              left: 5px;
              background: #333333
            }
          }
        }
      }
    }
    & i {
      @media (max-width: $breakpoint-xl) {
        display: none;
      }
      &:before {
        display: block;
        @include transition(.3);
      }
      &.show {
        &:before {
          transform: rotate(-180deg);
        }
      }
    }
    &.custom-select__mobile {
      display: none;
      @media (max-width: $breakpoint-xl) {
        display: block;
        
      }
    }
    & span {
      @media (max-width: $breakpoint-xl) {
        display: block;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        margin: 16px 0;
      }
    }
  }
  &__list {
    position: absolute;
    display: block;
    top: 54px;
    left: 0;
    width: 100%;
    border: 1px solid #95BB54;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    @include transition(.3);
    background: $whiteColor;
    @media (max-width: $breakpoint-xl) {
      position: static;
      border: none;
      opacity: 1;
      visibility: visible;
    }
    & .form-checkbox, & .form-radio {
      & label {
        padding-right: 33px;
        @media (max-width: $breakpoint-xl) {
          padding: 0;
        }
      }
    }
    &.show {
      opacity: 1;
      visibility: visible;
    }
    & .form-radio {
      display: flex; 
      &:after {
        font-family: 'icomoon';
        font-size: 30px;
        padding-left: 20px;
      }
    }
    & .victoria:after {
      content: "\e91a";
      color: #fff79d;
    }
    & .nsw:after {
      content: "\e910";
      color: #cedd79;
    }
    & .tasmania:after {
      content: "\e915";
      color: #dfbccd;
    }
    & .quensland:after {
      content: "\e913";
      color: #b4afcd;
    }
    & .newZealand:after {
      content: "\e90b";
      color: #333;
    }
  }
  & input[type=submit] {
    padding: 11px 16px;
    margin-left: 4px;
    width: 100%;
    background: $greenColor;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    border: none;
    font-weight: 800;
    font-size: 16px;
    line-height: 22px;
    color: $whiteColor;
    @include transition(.3);
    &:hover {
      background: $greenHoverColor;
    }
    @media (max-width: $breakpoint-xl) {
      width: 178px;
      margin-right: auto;
      margin-top: 8px;
    }
  }
}

.filter-close {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 16px;
  top: 24px;
  z-index: 49;
  cursor: pointer;
  & span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    &:before, &:after {
      content: '';
      background: #000;
      width: 100%;
      height: 2px;
      position: absolute;
      top: 50%;
      right: 0;
      transform: rotate(45deg);
      border-radius: 100px;
    }
    &:after {
      transform: rotate(135deg);
    }
  }
}

.filter-button--mobile {
  display: none; 
  position: fixed;
  right: 0;
  bottom: 185px;
  background: $greenColor;
  color: $whiteColor;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  border-radius: 3px 0px 0px 3px;
  padding: 3px 12px;
  cursor: pointer;
  z-index: 29;
  @media (max-width: $breakpoint-xl) {
    display: flex;
  }
  & i {
    font-size: 16px;
    padding-left: 6px;
  }
}

.tour {
  & .card {
    &__item {
      margin-bottom: 30px;
    }
    &__image {
      height: 242px;
      width: 100%;
      border-radius: 5px;
      overflow: hidden;
      margin-bottom: 12px;
      & img {
        object-fit: cover;
      }
    }
    &__title {
      font-weight: 600;
      @include fontSize(24, 28);
      line-height: 1.35;
      margin-bottom: 12px;
    }
    &__info {
      &--item {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 4px;
        & span {
          color: #A2A2A2;
        }
        & p {
          padding-left: 4px;
        }
        & img {
          width: 80px;
          padding-left: 4px;
        }
      }
    }
    &__book {
      margin-top: 4px;
    }
    &__price {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      margin-bottom: 16px;
      &--amount {
        margin-right: 12px;
      }
    }
    &__btn {
      width: 100%;
      & .btn {
        width: 100%;
      }
    }
  }
  & .show-more-btn {
    margin-top: 6px;
    & .btn {
      padding: 11px 66px;
      font-weight: 800;
      font-size: 16px;
      line-height: 22px;
    }
  }
}


.custom-select--display {
  display: none;
  // pointer-events: none;
  // width: fit-content;
  max-width: 250px;
  margin: 0 auto 24px auto; 
  & > div:first-of-type {
    width: fit-content;
    margin: 0 auto;
    padding: 11px 20px;
    justify-content: center;
    &:before {
      display: none!important;
    }
  }
  @media (max-width: $breakpoint-xl) {
    display: block;
  }
}




// Tours private

.app-section-3.--private {
  height: 100%;
  @media (max-width: $breakpoint-md) {
    height: auto;
    padding-top: 0;
  }
  & .home-images {
    left: 15px;
    top: 24px;
    @media (max-width: $breakpoint-md) {
      padding-top: 0;
    }
  }
}

.create-tour {
  @media (max-width: $breakpoint-md) {
    padding-top: 24px;
  }
}

// Tours detailed

.tours-detailed {
  padding-top: 24px;
  & .tabs {
    @media (max-width: $breakpoint-lg) {
      display: flex;
      flex-direction: column-reverse;
      & .column {
        &:nth-child(1) {
          order: 2;
          max-width: 400px;
          margin: 0 auto;
        }
        &:nth-child(2) {
          order: 1;
        }
        &:nth-child(3) {
          order: 3;
          max-width: 300px;
          margin: 0 auto;
        }
      }
    }
  }
  & .tabs-list {
    padding: 24px;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 10px;
    @media (max-width: $breakpoint-xl) {
      padding: 12px;
    }
  }
  & .tabs-list__item {
    margin-bottom: 13px;
  }
  & .tabs-list__item_link {
    position: relative;
    &.active {
      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        background: $greenColor;
        @include transition(.3);
      }
      &:hover {
        &:before {
          width: 0;
        }
      }
    }
  }
  &__book {
    overflow: hidden;
    background: #FFFFFF;
    border: 1px solid #DADADA;
    border-radius: 10px;
    @media (max-width: $breakpoint-lg) {
      // max-width: 300px;
      // margin: 0 auto;
    }
    &--container {
      padding: 24px 24px 0 24px;
      @media (max-width: $breakpoint-xl) {
        padding: 12px 12px 0 12px;
      }
    }
    &--title {
      margin-bottom: 12px;
    }
    &--item {
      margin-bottom: 4px;
      display: flex;
      align-items: center;
      & span {
        color: #A2A2A2;
      }
      & p {
        padding-left: 4px;
      }
      & img {
        width: 80px;
        padding-left: 4px;
      }
    }
    &--price {
      margin: 20px 0 13px 0;
    }
    & .btn-book {
      width: 100%;
      border-radius: 0;
      font-weight: bold;
      font-size: 24px;
      line-height: 24px;
      padding: 18px 18px;
      &:after, &:before {
        // left: calc(-110% - 30px);
        width: calc(98% + 20px);
      }
      &:hover {
        &:before, &:after {
          width: calc(101% + 21px);
        }
        &:before {
          left: calc(-1% - 10px);
        }
      }
    }
  }

}




.tours-detailed-top-widget {
  width: 294px;
  height: 28px;
  margin: -35px 0 12px 0;
  @media (max-width: $breakpoint-lg) {
    margin: 0 0 12px 0;
  }
}
.tours-detailed-sidebar-widget {
  padding-top: 16px;
}
.tours-detailed-bottom-widget {
  text-align: center;
  & img {
    margin: 0 auto;
  }
  & a {
    display: block;
    margin: 16px 0 24px 0;
  }
}